services:
  hugo_build:
    image: hugomods/hugo:latest
    working_dir: /src
    command: ["hugo", "--gc", "--destination", "/out"]
    environment:
      - HUGO_ENV=production
    ports:
      - "1313:1313"
    volumes:
      - ./:/src
      - hugo_public:/out
    restart: "no"

  web:
    image: caddy:2
    depends_on: 
      - hugo_build
    volumes:
      - hugo_public:/usr/share/caddy
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped

volumes:
  hugo_public: